.container-fluid {
    background-image: url("/assets/img/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 80px;
    object-fit: cover;
}

.smallNav {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 5px 0 5px 0;
}

#stroke {
    -webkit-text-stroke: 1px black;
}